---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];
const { title, description, pubDate, thumbnail, mapImage, routeData, totalDistance, map } = Astro.props;
---

<BaseLayout title={title} description={description} cover={thumbnail} coverClass={'coloring'}>
  <article>
    <header class="inner">
      <h1>{title}</h1>
      <small><FormattedDate date={pubDate} /></small>
      <hr />
    </header>
    <slot />
  </article>
</BaseLayout>
